[submodule "_external/bgfx.cmake"]
	path = _external/bgfx.cmake
	url = https://github.com/bkaradzic/bgfx.cmake.git
[submodule "_external/glfw"]
	path = _external/glfw
	url = https://github.com/glfw/glfw.git
